@model List<WebBanHangCuaKhanhBang.Models.DanhMuc>
@{
    <title>Danh mục</title>
}

<div class="content-wrapper" style="min-height: 1604.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý danh mục</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh mục</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách danh mục</h3>

                <div class="card-tools">
                    <a href="/admin/danhmuc/themdanhmuc" class="btn btn-primary">Thêm</a>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display: block;">

                <div class="row">
                    <div class="col-6">
                        @using (Html.BeginForm("danhmucview", "danhmuc", FormMethod.Get, new { }))
                        {
                            <div class="input-group input-group-sm" style="margin-bottom: 16px;">
                                @*@Html.TextBox("SearchText",new {@class="form-control", @values = ViewBag.searchText })*@
                                <input type="text" class="form-control" name="SearchText" value="@ViewBag.searchText" placeholder="Mời nhập từ khóa" />
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>STT</td>
                            <td>Mã danh mục</td>
                            <td>Tên danh mục</td>
                            <td>Đường dẫn ảnh</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            int i = 1;
                            foreach (var dm in Model)
                            {
                                <tr id="trow_@dm.MaDanhMuc">
                                    <td>@i</td>
                                    <td>@dm.MaDanhMuc</td>
                                    <td>@dm.TenDanhMuc</td>
                                    <td>
                                        <img src="~/assets/img/icon_gioiThieu/@dm.AnhDanhMuc" alt="@dm.TenDanhMuc" class="" style="width: 70px;">
                                    </td>
                                    <td>
                                        <a href="/admin/danhmuc/capNhatdanhmuc?maDanhMuc=@dm.MaDanhMuc" class="btn btn-sm btn-primary">Cập nhật</a>
                                        <a href="#" data-id="@dm.MaDanhMuc" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td>Không có danh mục nào</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
            <div class="card-footer" style="display: block;">
                Footer
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("body").on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa danh mục này không');
                if (conf === true) {
                    $.ajax({
                        url: "/admin/danhmuc/xoadanhmuc",
                        type: 'POST',
                        data: { id: id },
                        success: function (kq) {
                            if (kq.success) {
                                $("#trow_" + id).remove();
                            }
                        }
                    })
                }
            })
        });
    </script>
} 