@model WebBanHangCuaKhanhBang.Models.SanPham
@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="content-wrapper" style="min-height: 1604.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thêm sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thêm sản phẩm</h3>

                <div class="card-tools">
                    <a href="/danhmuc/them" class="btn btn-primary">Thêm</a>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display: block;">
                @using (Html.BeginForm("themsanpham", "sanpham", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary(true)*@
                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên sản phẩm</label>
                        @Html.TextBoxFor(them => them.TenSanPham, new { @class = "form-control", type = "text", @placeholder = "Mời nhập tên sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.TenSanPham, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ngày sản xuất</label>
                        @Html.TextBoxFor(them => them.NgaySanXuat, new { @class = "form-control", type = "date", @placeholder = "Mời nhập Ngày sản xuất" })
                        @Html.ValidationMessageFor(loi => loi.NgaySanXuat, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ngày hết hạn</label>
                        @Html.TextBoxFor(them => them.NgayHetHan, new { @class = "form-control", type = "date", @placeholder = "Mời nhập Ngày hết hạn" })
                        @Html.ValidationMessageFor(loi => loi.NgayHetHan, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hạn sử dụng</label>
                        @Html.TextBoxFor(them => them.HanSuDung, new { @class = "form-control", type = "text", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.HanSuDung, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Thành phần</label>
                        @Html.TextBoxFor(them => them.ThanhPhan, new { @class = "form-control", type = "text", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.ThanhPhan, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Lưu ý</label>
                        @Html.TextBoxFor(them => them.LuuY, new { @class = "form-control", type = "text", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.LuuY, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mô tả sản phẩm</label>
                        @Html.TextAreaFor(them => them.MoTa, new { @class = "form-control", type = "text", @id = "txtMoTaa", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.MoTa, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Xuất xứ</label>
                        @Html.TextBoxFor(them => them.XuaXu, new { @class = "form-control", type = "text", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.XuaXu, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Giá gốc</label>
                        @Html.TextBoxFor(them => them.GiaGoc, new { @class = "form-control", type = "number", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.GiaGoc, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Giá bán</label>
                        @Html.TextBoxFor(them => them.GiaBan, new { @class = "form-control", type = "number", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.GiaBan, null, new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group">
                        <label for="exampleInputEmail1">Chức năng</label>
                        @Html.TextBoxFor(them => them.ChucNang, new { @class = "form-control", type = "text", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.ChucNang, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Loại sản phẩm</label>
                        @Html.TextBoxFor(them => them.LoaiSanPham, new { @class = "form-control", type = "text", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.LoaiSanPham, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="danhmuc">Thuộc danh mục</label>
                        @Html.DropDownListFor(them=>them.DanhMucs, ViewBag.DanhMuc as SelectList, "Sản phẩm thuộc danh mục", new { @class = "form-control", name = "MaDanhMuc", type = "text", @placeholder = "Mời nhập sản phẩm" })
                        @Html.ValidationMessageFor(loi => loi.DanhMucs, null, new { @class = "text-danger" })
                    </div>*@
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ảnh sản phẩm</label>
                        <input type="file" name="AnhSanPham" value="" @*multiple*@ accept="image/*" />
                        @*@Html.TextBoxFor(them => them.AnhSanPham, new { type = "file", @class = "form-control" })*@
                        @Html.ValidationMessageFor(loi => loi.AnhSanPham, null, new { @class = "text-danger" })
                    </div>
                    <a href="/admin/sanpham/sanphamview" class="btn btn-danger">Hủy</a>
                    <button type="submit" class="btn btn-primary" onclick="stepper.next()">Thêm</button>
                </div>

                }

            </div>
            <!-- /.card-body -->
            <div class="card-footer" style="display: block;">
                Footer
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtMoTa', {
                customConfig: 'Content/ckeditor/config.js',
                extraAllowedContent: 'span'
            });
        });
    </script>
}